$lightgreen: #93c6b9;
$orange: orange;
$gold: gold;
$ultralightgrey: #eeeeee;
$lightgrey: #aaaaaa;
$darkgrey: #666666;
$ultradarkgrey: #333333;
$text: #333333;

*{box-sizing: border-box;}
html,body,#app{
   height: 100%;
   width: 100%;
}
body{
   margin: 0;
   padding: 0;
   color: $text;
   font-family: Helvetica Neue, Arial, sans-serif;
   // overflow-x: hidden;
}
header {
  background-color: #257DC8;
}
.page-element{
   display: flex;
   justify-content: center;
   > div{
      width: 100%;
      max-width: 1024px;
   }
}

// START
header > div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header h1{
   display: inline-block;
   margin: 15px 0;
}
header h1 .big-logo{
   margin-top: 10px;
   width: 215px;
}
header h1 .big-logo-text{
   display: inline-block;
   text-indent: -9999999px;
   line-height: 0px;
}
header .book-finder{
   float: right;
   display: flex;
   align-items: center;
}
header .book-finder ul{
   display: inline-block;
   margin: 0 25px 0 0;
   padding: 0;
   list-style: none; 
}
header .book-finder ul li{
   float: left;
   padding: 5px 5px;
   margin: 4.5px;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   transition: .1s ease-out;
   &:last-child{
     margin-right: 0; 
   }
   &:hover{
      border-bottom: 2px solid $lightgreen;
   }
}
header .book-finder ul li a{
   color: $lightgreen;
   text-decoration: none;
   
}
header .book-finder form{
   display: inline-block;
}
header .book-finder form input[type="text"]{
   width: 130px;
   border: 2px solid $lightgreen;
   height: 25px;
   padding: 0 3px;
}
header .book-finder form input[type="submit"]{
   background: $lightgreen;
   border: 0;
   color: white;
   padding: 0 7.5px;
   float: right;
   height: 25px;
   cursor: pointer;
}
header #mobile-hamburger-menu-icon{
   display: none;
}

main{
}
main #slider{
   /*background-image: url("http://ws2019.taipaweb.com/css-final-project/slider-1.jpg");*/
   background-color: #257DC8;
   background-size: cover;
   background-position: center;
   height: 275px;
   color: white;

}
main #slider > div{
   position: relative;
}
main #slider h2{
   display: inline-block;
   font-size: 22px;
   font-weight: bold;
   background: $lightgreen;
   color: white;
   margin: 0;
   padding: 7px 15px;
   box-shadow: 1.5px 1.5px 4px rgba(0,0,0,.3);
   position: absolute;
   right: 0;
   bottom: 30px;
}
main #content > div{
   display: grid;
   grid-template-columns: repeat(11, minmax(0, 1fr));
   grid-template-areas:
      'pop pop pop pop pop pop pop pop pop pop pop'
      'rcm rcm rcm rcm rcm rcm rcm aus aus aus aus';
   grid-gap: 10px;
}
main #content .book-list-item{
   text-align: center;
}
main #content .book-list-item > img{
   height: 175px;
   // display: block; 
   transition: .1s ease-out;
   &:hover{
      transform: scale(1.15);
   }
}
main #content .book-list-item h4{
   display: inline-block;
   margin: 2.5px 0;
   font-size: 12px;
   text-align: left;
   white-space: nowrap;
}
main #content .book-list-item p{
   color: $darkgrey;
   display: inline-block;
   margin: 2.5px 0;
   font-size: 12px;
   text-align: left;
   white-space: nowrap;
}
main #content .book-list-item a{
   display: block;
   margin: 10px 0 0 0;
   font-size: 14px;
   padding-right: 3px;
   color: black;
   text-decoration: none;
}
main #content .book-list-item a img{
   height: 14px;
}
main #content #popular-books{
   grid-area: pop;
   display: block;
   flex: 1;
}
main #content #popular-books h3{
   margin: 30px;
   text-align: center;
}
main #content #popular-books ul{
   margin: 0;
   list-style: none;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(5, 1fr)
   
}
main #content .content-down-block{
   display: block;
   margin: 30px 10px;
   padding: 15px;
   p{
      font-size: 12px;
      line-height: 1.3em;
   }
   .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
         margin: 0;
         display: inline-block;
      }
      a {
         font-size: 13px;
         color: $text;
         text-decoration: none;
      }
   }
   .description{
      p.left{
         
      }
   }
}
main #content #recommended {
   grid-area: rcm;
   background: linear-gradient(135deg, $lightgrey, $ultralightgrey);
}
main #content #recommended .description{
   display: flex;
   > * > *:nth-child(1){
      margin-top: 10px;
      // margin-bottom: 10px;
   }
   flex-direction: row-reverse;
}
main #content #recommended .description .book{
   margin-left: 16px;
}
main #content #recommended .description .book.book-list-item{
   text-align: left;
}
main #content #recommended .description .book.book-list-item a{
   margin: 0;
   text-align: center;
}
main #content #author-store {
   grid-area: aus;
   background: linear-gradient(135deg, $orange, $gold);
}
main #content #author-store .description{}
main #content #author-store .description p{}
main #content #author-store .description figure{
   float: right;
   display: inline;
   margin: 0 0 16px 16px;
}
main #content #author-store .description figure img{
   width: 130px;
}
main #content #author-store .description figure figcaption{
   text-align: center;
   font-size: 11px;
   font-style: italic;
}

footer{
   background: linear-gradient(45deg, $darkgrey, $ultradarkgrey);
   color: white;
   font-size: 12px;
}
footer > div{
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
footer nav{
   display: flex;
   justify-content: center;
}
footer nav .page-bottom-nav{
   width: 290px;
}
footer nav .page-bottom-nav h3{
   margin: 0;
   padding: 8px 0;
}
footer nav .page-bottom-nav ul{
   margin: 0;
   padding: 0;
   list-style: none; 
}
footer nav .page-bottom-nav ul li{
   padding: 4px 0;
}
footer nav .page-bottom-nav ul li a{
   color: $lightgrey;
   text-decoration: none;
}
footer p{
   width: 870px;
   margin: 10px 0 0 0;
}

@media screen and (max-width: 640px) {
   body{
       margin-top: 63px;
   }
   
   header {
background-color: #257DC8;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 333;
   }
   header > div{
      align-items: flex-start;
   }
   header h1{
      margin: 10px;
   }
   header h1 .big-logo{
      margin: 0;
      height: 77px;
      width: auto;
   }
   header .book-finder{
      display: none;
      flex-direction: column;
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      background: $lightgreen;
      z-index: 2;
      box-shadow: 0px 5px 15px rgba(0,0,0,.4);
      &.menu-on{
         display: block; 
      }
   }
   header .book-finder ul{
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      &, * {
         width: 100%;
      }
   }
   header .book-finder ul li{
      clear: both;
      padding: 0;
      margin: 0;
      border: 0;
      transition: .1s ease-out;
      &:hover{ border: 0; }
   }
   header .book-finder ul li a{
      display: block;
      // width: 100%;
      color: white;
      text-decoration: none;
      padding: 20px;
      &:active{
         background: #84b2a7;
      }
   }
   header .book-finder form{
      display: flex;
      padding: 15px;
   }
   header .book-finder form input[type="text"]{
      flex: 1;
      background: $lightgreen;
      border: 2px solid white;
      height: 35px;
      border-radius: 5px 0 0 5px;
   }
   header .book-finder form input[type="submit"]{
      background: white;
      color: $lightgreen;
      padding: 0 10px;
      font-size: 14px;
      height: 35px;
      border-radius: 0 5px 5px 0;
   }



   main #slider h2{
      right: 10px;
   }
   main #content > div{
      grid-template-columns: 1fr;
      grid-template-areas:
         'pop'
         'rcm'
         'aus';
      grid-gap: 0px;
   }
   main #content .book-list-item{
      text-align: center;
      display: inline-block;
   }
   main #content .book-list-item h4{
      display: block;
   }
   main #content .book-list-item a{
      margin: 5px 0 0 0;
   }
   main #content #popular-books{
      padding: 0 30px 50px 30px;
   }
   main #content #popular-books ul{
      grid-row-gap: 40px;
      grid-template-columns: repeat(2, 1fr);

   }
   main #content .content-down-block{
      display: block;
      margin: 0;
      padding: 25px;
      p{
         font-size: 14px;
         line-height: 1.3em;
      }
      .title {
         display: flex;
         justify-content: space-between;
         align-items: center;
         h3 {
            margin: 0;
            display: inline-block;
         }
         a {
            font-size: 13px;
            color: $text;
            text-decoration: none;
         }
      }
   }
   main #content #recommended {
      grid-area: rcm;
      background: linear-gradient(135deg, $lightgrey, $ultralightgrey);
   }
   main #content #recommended .description{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   main #content #recommended .description .book{
      margin: 0;
   }
   main #content #recommended .description .book.book-list-item{
      text-align: left;
   }
   main #content #recommended .description .book.book-list-item a{
      margin: 0;
      text-align: center;
   }
   main #content #author-store {
      grid-area: aus;
      background: linear-gradient(135deg, $orange, $gold);
   }
   main #content #author-store .description{}
   main #content #author-store .description p{}
   main #content #author-store .description figure{
      float: right;
      display: inline;
      margin: 0 0 16px 16px;
   }
   main #content #author-store .description figure img{
      width: 130px;
   }
   main #content #author-store .description figure figcaption{
      text-align: center;
      font-size: 11px;
      font-style: italic;
   }

   
   
   footer > div{
      padding: 25px;
      display: inline-block;
   }
   footer nav{
      display: block;
   }
   footer nav .page-bottom-nav{
      width: auto;
      margin-bottom: 20px;
   }
   footer p{
      margin: 0;
   }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
